/* styles.css */
.product-image-container {
    width: 100%;
    height: 0; /* Set initial height to 0 */
    padding-top: 100%; /* Maintain 1:1 aspect ratio */
    position: relative;
  }
  
  .product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Fill the container */
    object-fit: fill !important; /* Ensure the image covers the entire container */
  }
 
  .disabled {
    text-decoration: line-through;
    color: #666666; /* Adjust the color as needed */
  }
  