name: Deploy to VPS

on:
  push:
    branches:
      - main  # Adjust branch name as needed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Deploy to VPS
        run: |
          sshpass -p ${{ secrets.SSH_PASSWORD }} ssh root@45.119.85.156 'cd /www/wwwroot/gyomade.vn/fe && git pull origin main && ./deploy.sh'
